<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>关于我们</title>
		<link rel="stylesheet" type="text/css" href="/static/css/page-关于我们.css" />
		
	</head>
	<body>
                   
				   <div class="logo">
				   	<img src="/static/image/logo1.png" alt="云晖logo" width="100px" />
				   </div>
				   <ul class="main">
				   	<li><a href="/主页面/">主页</a></li>
				   	<li><a href="/关于我们/">关于我们</a></li>
				   	<li><a href="#">联系我们</a></li>
				   	<li><a href="/预约下单/">预约下单</a></li>
				   	<li><a href="/xadmin">后台管理</a></li>
				   	<li><a href="/登录/">登录/注册</a></li>   	
				   </ul>
				  <div class="p8">平台简介</div>
					<div class="p6">
						<div class="p7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;云晖无感陪护自主居家养老院是以智慧养老为主旨，以手环为载体，拟建立的全方位新型养老服务平台。公司将以一线、二线城市政府为主要目标市场，并向周围地区辐射，逐步打造全方位、多层次、宽领域的智慧养老服务体系。
						<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们的平台包括两大部分：硬件部分和软件部分，硬件部分包括手环、摄像头监控系统、紧急呼救系统等，软件部分包括居家养老服务平台和居家养老管理平台，两个平台都有PC端系统和手机APP，还有微信公众号。
						</div >
							<div class="p12">
						<img src="/static/image/6.png" alt="图" />
						</div>
					</div>				  
					<p class="p10">主要业务</p>
					<div class="p9">个性化、实时性、专业性</div>
					<div class="p3">
						<div class="p4"><img src="/static/image/21.png" alt="图"/></div>
						<div class="p5"><img src="/static/image/22.png" alt="图"></div>

					</div>			
					<div class="p13">平台优势：<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.运用区块链技术构建平台，安全可靠。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.基于手环和摄像头的老人健康信息采集系统。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.基于大数据的老人安全健康管理系统。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.高效及时的服务派单系统。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.基于视频行为分析的老人跌倒警报。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.基于风险的居家养老中心的监控体系。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.基于老人满意度的养老中心的绩效评估体系。<br/>
</div>
					
					<div class="p11">技术介绍</div>
					<div class="p14">
						<img src="/static/image/4.png" alt="图" width="200px"/>
						<img src="/static/image/3.png" alr="图" width="200px"/>
						<img src="/static/image/4.png" alt="图" width="200px"/>
						<img src="/static/image/3.png" alr="图" width="200px"/>
						<img src="/static/image/4.png" alt="图" width="200px"/>
						
						</div>
					<div class="p15">5G传输&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;边缘计算&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区块链&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随机森林&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卷积神经</div>
					<div class="p17">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在老人手环层出不穷的年代，“云护”手环集结了目前老人所需测量身体的心率、血压、血氧等功能，由于老人的身体素质差异大，“云护”手环还做到了“个性化”（不同老人有不同身体指标）、“效率化”和“及时化”，保证老人及其家属随时随地都能通过手机“云护”APP及时准确地了解到老人此刻身体状态如何，它可以设定个性化自由活动范围阀值，根据身体位置和体征数据而改动。一旦老人身体数据出现异常，后台处理器会在第一时间通知工作人员并由工作人员安排最优救援方案。为保证“在家安心”公司还推出了一款“云护”摄像头，可360度在摄像头所视范围内跟踪老人，并结合我们的团队专利基于背景与目标先验的多尺度扩散显著目标的方法、TensorFlow和决策树准确分析老人的行为。例如“撞到重物”、“摔倒”、“长时间不起”等问题，去更全面地为老人安全健康保驾护航。
					</div>
				<div class="p16"><img src="/static/image/7.png" alt="tu" width="800px"></div>
				<div class="p18">如云随行，护你一生
				<br/><p>“让老人安心，家属放心”是身为“云晖”人的责任和义务</p>
				</div>
				
				
				
									  
									  
									  
									  
									  
									  
									  
									  
									  
			
					<div class="logo2">
						<img src="/static/image/logo1.png" alt="云晖logo" width="200px" />			
						<ul class="p2">
							<li><a href="/主页面/">主页</a></li>
							<li><a href="/关于我们/">关于我们</a></li>
							<li><a href="#">联系我们</a></li>
							<li><a href="/预约下单/">预约下单</a></li>								
							<li><a href="/xadmin">后台管理</a></li>						
					
						</ul>						
						<div style="width:950px; border:0.5px solid black;margin-left: auto ;" ></div>
						<p id="p1"><a href="#">加入我们</a>|<a href="/免责声明/">免责声明</a>|<a href="#">隐私政策</a></p>
					</div>

	</body>
</html>
