<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="/static/css/page-预约下单.css" />

<link rel="stylesheet" type="text/css" href="/static/css/global.css">
<link rel="stylesheet" type="text/css" href="/static/css/style2.css">

<script type="text/javascript" src="/static/js/jquery.min1.js"></script>
<script type="text/javascript" src="/static/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>

</head>
<body>
<!-- S-head部分 -->
<div class="head">
	<div class="p1"></div>
	<div class="logo">
		<img src="/static/image/logo1.png" alt="云晖logo" width="100px" />
	</div>
	<ul class="main">
		<li><a href="/主页面/">主页</a></li>
		<li><a href="/关于我们/">关于我们</a></li>
		<li><a href="#">联系我们</a></li>
		<li><a href="/预约下单/">预约下单</a></li>
		<li><a href="/xadmin">后台管理</a></li>
		<li><a href="/登录/">登录/注册</a></li>   	
	</ul>
	<div class="p2"></div>
</div>
<!-- E-head部分 -->

<!-- S-左侧导航部分 -->
<!-- E-左侧导航部分 -->

<div class="nave">
	<ul>
		<li class="current">生活照料类</li>
		<li>医疗保健类</li>
		<li>文化教育类</li>
		<li>法律维权类</li>
		<li>体育健身类</li>
		<li>志愿服务类</li>
		<li>应急救援类</li>
	</ul>
</div>
<!-- S-主要部分 -->
<div class="main_box">
	
	<div class="page1">
		
	
		<div class="p4"><a href="/表单信息/">托老</a><a href="/表单信息/">购物</a><a href="/表单信息/">送餐</a></div>
		
        <div class="p4"><a href="/表单信息/">代购</a><a href="/表单信息/">洗衣</a><a href="/表单信息/">其他</a></div>
        

	
	</div>
	  
	<div class="page2">
	<div class="p5"><a href="/表单信息/">提供陪护</a><a href="/表单信息/">康复护理</a><a href="/表单信息/">陪伴看病</a></div>
	<div class="p5"><a href="/表单信息/">健康教育</a><a href="/表单信息/">疾病防治</a><a href="/表单信息/">心理卫生</a></div>
	</div>
	  
	<div class="page3">
		
     <div class="p5"><a href="/表单信息/">老年学校</a><a href="/表单信息/">书法绘画</a><a href="/表单信息/">图书阅览</a></div>
	<div class="p5"><a href="/表单信息/">知识讲座</a><a href="/表单信息/">学习培训</a><a href="/表单信息/">其他服务</a></div>
	
	
	</div>
	
	<div class="page4">
		
	<div class="p5"><a href="/表单信息/">法律咨询</a><a href="/表单信息/">法律援助</a><a href="/表单信息/">维护婚姻</a></div>
	<div class="p5"><a href="/表单信息/">维护赡养</a><a href="/表单信息/">维护财产</a><a href="/表单信息/">其他服务</a></div>
	</div>
	   
	
	<div class="page5">
       <div class="p5"><a href="/表单信息/">健身指导</a><a href="/表单信息/">舞蹈指导</a><a href="/表单信息/">太极拳</a></div>
       <div class="p5"><a href="/表单信息/">活动中心</a><a href="/表单信息/">俱乐部</a><a href="/表单信息/">其他服务</a></div>
	</div>
	<div class="page6">
 <div class="p5"><a href="/表单信息/">邻里互助</a><a href="/表单信息/">谈心交流</a><a href="/表单信息/">电话问候</a></div>
 <div class="p5"><a href="/表单信息/">定期看望</a><a href="/表单信息/">社区活动</a><a href="/表单信息/">其他服务</a></div>
    	</div>
	<div class="page7">
       <div class="p6"><a href="/表单信息/">社区人员</a><a href="/表单信息/">工作人员</a><a href="/表单信息/">家属</a></div>
		</div>
	<p class="fotter"></p>
</div>
<!-- E-主要部分 -->
   

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

	
</div>
</body>
</html>
